<div class="hero">
    <div class="hero-body">
        <div class="image">
            <%= image_tag "ex_role_call.jpg" %>
        </div>
    </div>
</div>

<div class="section">
    <h1 class="title has-text-centered">
        <a class="has-text-grey" name="who">Who are we?</a>
    </h1>    
        <div class="tile is-ancestor">
            <div class="tile is-3 ">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            Tinagaran
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <%= image_tag "tina_photo.jpg" %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <strong>Head of Projects</strong>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            Ganesh
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <%= image_tag "ganesh_photo.jpg" %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <strong>Head of Management</strong>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            Wan Ahmad. Supt (Rtd)
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image ">
                            <%= image_tag "wan_ahmad_photo.jpg" %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <strong>Head of Operations</strong>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            Aaron Myatt
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            <%= image_tag "aaron_photo.jpg" %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <strong>Head of Technology</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>